<header class="header frame no-bottom">
    <div class="logo">
        <img src="{{ '/assets/images/logos/KS Horizontal (Transparent).png' | relative_url }}" alt="Logo de KURAGE STUDIO">
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ '/' | relative_url }}">Inicio</a></li>
            <li><a href="{{ '/projetos/' | relative_url }}">Projetos</a></li>
            <li><a href="{{ '/noticias/' | relative_url }}">Noticias</a></li>
            <li><a href="{{ '/guias/' | relative_url }}">Guias</a></li>
            <li><a href="{{ '/membros/' | relative_url }}">Membros</a></li>
        </ul>
    </nav>
</header>
